* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}

main {
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .main-image {
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 23rem;
    width: 100%;
    
} */

.drawer {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; 
    border: none;
}

.text-container {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    padding: 3rem 2.5rem;
    text-align: left;
    gap: 2rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

h1 {
    font-size: 1.8rem;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.main-para {
    font-size: 1.3rem;
    color: hsl(214, 17%, 51%);
    line-height: 2rem;
    font-weight: 500;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.avatar {
    width: 4rem;
    height: auto;
    border-radius: 50%;
}

.credit-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.4rem;
}

h2 {
    font-size: 1.3rem;
    color: hsl(217, 19%, 35%);
}

.credit-text p {
    color: hsl(212, 23%, 69%);
    font-size: 1.3rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    background-color: hsl(217, 19%, 35%);
    z-index: 1;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.dropdown-content p {
    font-size: 1.2rem;
    display: inline-block;
    color: hsl(212, 23%, 69%);
    text-transform: uppercase;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a img {
    width: 2rem;
    margin-left: 1.7rem;
}

@media screen and (min-width: 700px) {

    .container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        gap: 0;
    }

    .drawer {
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
    }

    .text-container {
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
        display: flex;
        flex-direction: column;
    }
   
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 2.2rem;
        max-width: 85%;
    }

    .main-para {
        font-size: 1.6rem;
        max-width: 85%;
    }
}